@{
    ViewBag.Title = "Home Page";
}
    @*<script src="~/dist/Scripts/TestPage.js"></script>*@
<div id="content"></div>
@section scripts{
    @Scripts.Render("~/bundles/TestPage")

    <script>
        window.renderPage(document.getElementById('content'))
    </script>
}